*{
	box-sizing:borde-box;
}
ul{
    display: block;
    background: #00F;
    color: #FFF;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
	
}
li{
	display:inline;
	background-color:white;
	font-style: none;
}

#centro{
    display:block;
	position: relative;
	border: 1px solid black;
	width:300px;
	height:300px;
	margin:auto;
	padding:20px;
	border-radius:3px;
	top:100px;
	float:center;
	text-align: justify;
	box-shadow: 4px 3px 39px 0px rgba(0,0,0,0.44);
	background-color:white;
}

#kabum{
    display:block;
	position: relative;
	border: 1px solid black;
	width:300px;
	height:300px;
	margin:auto;
	padding:20px;
	border-radius:3px;
	top:120px;
	float:center;
	text-align: justify;
	box-shadow: 4px 3px 39px 0px rgba(0,0,0,0.44);
	background-color:white;
}


@media only screen and (max-width:497px){
  li{
    background-color:white;
	display:block;
    }
   ul{
    background-color:red;
	}
}